
<!DOCTYPE html>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<script src="/asset/js/jquery-2.1.3.min.js"></script>
<script src="/asset/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/asset/bootstrap/js/bootstrap.min.js"></script>
<script src="/asset/js/owl.carousel.min.js"></script>
<script src="/asset/js/jquery.appear.js"></script>
<script src="/asset/js/jquery.fitvids.js"></script>
<script src="/asset/js/jquery.nicescroll.min.js"></script>
<script src="/asset/js/lightbox.min.js"></script>
<script src="/asset/js/count-to.js"></script>
<script src="/asset/js/styleswitcher.js"></script>
<script src="/asset/js/map.js"></script>
<script src="/asset/js/script.js"></script>
<html lang="en">
<head>

    <!-- Basic -->
    <title>Системы технологического моделирования</title>

    <!-- Description -->
    <meta name="description" content="Создание качественных, современных и инновационные решений для различных отраслей промышленности. ООО &#34;Системы технологического моделирования&#34;">

    <!-- Define Charset -->
    <meta charset="utf-8">

    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="/asset/bootstrap/css/bootstrap.min.css" type="text/css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/asset/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/asset/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/owl.transitions.css" type="text/css">

    <!-- Css3 Transitions Styles  -->
    <link rel="stylesheet" type="text/css" href="/asset/css/animate.css">

    <!-- Lightbox CSS -->
    <link rel="stylesheet" type="text/css" href="/asset/css/lightbox.css">

    <!-- Sulfur CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="/asset/css/style.css">

    <!-- Responsive CSS Style -->
    <link rel="stylesheet" type="text/css" href="/asset/css/responsive.css">


    <script src="/asset/js/modernizrr.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .content {
            flex: 1 0 auto;
        }

        .footer-section {
            flex: 0 0 auto;
        }
    </style>

</head>



<body>

    <div class="wrapper">


        <div class="content">

            <div class="clearfix">
                <!-- Start Top Bar -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-bar">
                                <div class="row">

                                    <div class="col-md-12">

                                        <ul class="contact-details">
                                            <li>
                                                <a href="#" class="fa" style="font-weight:800"> <img src="/asset/images/Logo_CTM.jpg" /></a>
                                            </li>
                                            <li>

                                                <a href="#" class="fa" style="font-weight:800">ООО "СИСТЕМЫ ТЕХНОЛОГИЧЕСКОГО МОДЕЛИРОВАНИЯ"</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-phone"></i> +7 917 43 18 638</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-envelope-o"></i>info@techmsys.ru</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Top Bar -->
                <!-- Start  Logo & Naviagtion  -->
                <div class="navbar navbar-default navbar-top">
                    <div class="container">

                        <div class="navbar-header">
                            <!-- Stat Toggle Nav Link For Mobiles -->

                            <button type="button" class="navbar-toggle col-xs-2" data-toggle="collapse" data-target=".navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                            <!-- End Toggle Nav Link For Mobiles -->
                        </div>
                        <div class="navbar-collapse collapse">

                            <!-- Start Navigation List -->
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="/Home/Index">ГЛАВНАЯ</a>
                                </li>
                                <li>
                                    <a href="/Home/About">О НАС</a>
                                </li>
                                <li>
                                    <a href="/Home/Service">РЕШЕНИЯ</a>
                                </li>

                                <li>
                                    <a href="/Home/Contact">КОНТАКТЫ</a>
                                </li>

                                <li>
                                    <a href="/Home/Cases">КЕЙСЫ</a>
                                </li>

                            </ul>
                            <!-- End Navigation List -->
                        </div>
                    </div>
                </div>
                <!-- End Header Logo & Naviagtion -->
            </div>




            <body>
                <!-- Start Header Section -->
                <div class="page-header">
                    <div class="overlay">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>Имитационное и математическое моделирование</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header Section -->
                <!-- Start About Us Section -->
                <section id="about-section" class="about-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="about-text">
                                    <h4 style="margin-bottom: 10px;font-weight:bold">Математическое моделирование</h4>
                                    <p>
                                        В процессе исследования реального объекта часто бывает нецелесообразно или даже невозможно иметь дело непосредственно с этим объектом. Удобнее бывает заменить его другим объектом, подобным данному в тех аспектах, которые важны в проводимом исследовании. Например, модель самолета продувают в аэродинамической трубе, вместо того, чтобы испытывать настоящий самолет - это дешевле. При теоретическом исследовании атомного ядра физики представляют его в виде капли жидкости, имеющей поверхностное натяжение, вязкость и т.п. Управляемые объекты являются, как правило, очень сложными, поэтому процесс управления ими неотделим от процесса изучения этих объектов. Один из способов изучения объекта – это получение новых знаний на основе исследования его модели.
                                        <br>Модель - это мысленно представляемая или материально реализованная система, которая, отображая или воспроизводя объект исследования, способна замещать его так, что ее изучение дает новую информацию об этом объекте.
                                        <br>Математическая модель - описание реального объекта с помощью математического представления (в виде системы уравнений, графов, операторов, функционалов и т.д.). Это один из вариантов модели как системы, исследование которой позволяет получать информацию о некоторой другой системе. Математическая модель предназначена предсказать поведение реального объекта, но всегда представляет собой ту или иную степень его идеализации (и упрощения).
                                        <br>Математическим моделированием называют как саму деятельность, так и совокупность принятых приёмов и техник построения и изучения математических моделей.
                                        <br>Формальная классификация моделей основывается на классификации используемых математических средств. Например, некоторые виды популярных классификаций моделей:
                                        <br>• по виду используемых в модели операторов: линейные или нелинейные;
                                        <br>• по подходу к описанию действующих закономерностей: детерминированные или стохастические;
                                        <br>• по виду функционирования во времени: статические или динамические;
                                        <br>• по описанию пространства состояний: дискретные или непрерывные.
                                        <br>и так далее. Каждая построенная модель является линейной или нелинейной, детерминированной или стохастической и т.д. Естественно, что возможны и смешанные типы.
                                    </p>

                                </div>
                                <div class="text-center">
                                    <img style="max-width:332px" src="/asset/images/mm/mm1.jpg" />
                                </div>
                                <div class="text-center">
                                    <p>
                                        Пример. Математическая модель задачи линейного программирования
                                    </p>

                                </div>

                                <p>
                                    При моделировании используется аналогия между объектом-оригиналом и его моделью. Аналогии бывают следующими:
                                    <br>1.	внешняя аналогия (макет самолета, корабля, жилого микрорайона, выкройка);
                                </p>
                                <div class="text-center">
                                    <img style="max-width:512px" src="/asset/images/mm/mm2.jpg" />
                                </div>
                                <p>
                                    2.	структурная аналогия (сеть промышленного трубопровода или электросеть моделируются с помощью графов, отражающих все связи и пересечения, но не длины отдельных участков);
                                </p>
                                <div class="text-center">
                                    <img style="max-width:543px" src="/asset/images/mm/mm3.jpg" />
                                </div>
                                <p>
                                    3.	динамическая аналогия (аналогия функционирования системы во времени) – например, гармонический осциллятор (груз на пружине) (А) имитирует электрический колебательный контур (Б).
                                </p>
                                <div class="text-center">
                                    <img style="max-width:627px" src="/asset/images/mm/mm4-1.jpg" />
                                </div>
                                <p>
                                    Имитационные модели относятся ко второму и третьему типу. Для них свойственно то, что они реализуются с помощью ЭВМ. Смысл имитационного моделирования заключается в том, что эксперименты проводятся не с реальной физической моделью объекта, а с ее упрощенной формой, пригодной для использования на ЭВМ, отражающей наиболее существенные взаимосвязи элементов системы, описывающей реальный объект.
                                    <br>С имитационной моделью производят вычислительные эксперименты: меняют те или иные показатели, т.е. изменяют состояние объекта и регистрируют его поведение в этих условиях. Основным достоинством имитационного моделирования является тот факт, что поведение объекта благодаря быстродействию ЭВМ имитируется во много раз быстрее, чем физический процесс протекает в реальности. Кроме того, вычислительный эксперимент, основанный на имитационном подходе, гораздо более дешев, чем реальный физический эксперимент, и может использоваться также и в тех случаях, когда натурный эксперимент труднореализуем по причине воздействия неустранимых внешних факторов.
                                    <br>Построение и сопровождение имитационных моделей стало неотъемлемой частью современного мира и повседневного процесса работы проектных организаций, являясь важным звеном в принятии оптимизационных и управленческих решений. Важной частью современного инжиниринга является совершенствование подходов к моделированию с целью повышения точности и детализации моделей, что обуславливает необходимость создания большого вариатива различных  программных решений. Задача разработки более точных и быстродействующих программных реализаций различных моделей, является актуальной и имеет широкую практическую значимость.
                                </p>
                                <div class="text-center">
                                    <img style="max-width:1106px" src="/asset/images/mm/mm6-1.jpg" />

                                </div>
                                <div class="text-center">
                                    <p>
                                        Пример имитационной модели участка промышленного трубопровода
                                    </p>
                                </div>
                                <div class="text-center">
                                    <img style="max-width:776px" src="/asset/images/mm/mm7.jpg" />
                                </div>
                                <div class="text-center">
                                    <p>
                                        Пример гидравлического расчета участка промышленного трубопровода
                                    </p>
                                </div>



                            </div>



                        </div>
                    </div>
                </section>


                <!-- Start About-section 2 -->
                <!-- Start Copyright Section -->
                <div id="copyright-section" class="copyright-section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7">
                                <div class="copyright">
                                    Copyright © 2020. Design by <a href="http://www.themefisher.com">Themefisher</a>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="copyright-menu pull-right">
                                    <ul>
                                    </ul>
                                </div>
                            </div>
                        </div><!--/.row -->
                    </div><!-- /.container -->
                </div>

            </body>

        </div>

        <!-- Start Footer Bar -->
        <footer class="footer-section">
            <div class="container">
                <span>© techmsys.ru, 2021 <br /> Создание качественных, современных и инновационные решений для различных отраслей промышленности. <br /> ООО "Системы технологического моделирования" </span>
            </div>
        </footer>
        <!-- End Footer Bar -->
    </div>
</body>
</html>
