
<!DOCTYPE html>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<script src="/asset/js/jquery-2.1.3.min.js"></script>
<script src="/asset/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/asset/bootstrap/js/bootstrap.min.js"></script>
<script src="/asset/js/owl.carousel.min.js"></script>
<script src="/asset/js/jquery.appear.js"></script>
<script src="/asset/js/jquery.fitvids.js"></script>
<script src="/asset/js/jquery.nicescroll.min.js"></script>
<script src="/asset/js/lightbox.min.js"></script>
<script src="/asset/js/count-to.js"></script>
<script src="/asset/js/styleswitcher.js"></script>
<script src="/asset/js/map.js"></script>
<script src="/asset/js/script.js"></script>
<html lang="en">
<head>

    <!-- Basic -->
    <title>Системы технологического моделирования</title>

    <!-- Description -->
    <meta name="description" content="Создание качественных, современных и инновационные решений для различных отраслей промышленности. ООО &#34;Системы технологического моделирования&#34;">

    <!-- Define Charset -->
    <meta charset="utf-8">

    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="/asset/bootstrap/css/bootstrap.min.css" type="text/css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/asset/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/asset/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/owl.transitions.css" type="text/css">

    <!-- Css3 Transitions Styles  -->
    <link rel="stylesheet" type="text/css" href="/asset/css/animate.css">

    <!-- Lightbox CSS -->
    <link rel="stylesheet" type="text/css" href="/asset/css/lightbox.css">

    <!-- Sulfur CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="/asset/css/style.css">

    <!-- Responsive CSS Style -->
    <link rel="stylesheet" type="text/css" href="/asset/css/responsive.css">
    <link rel="stylesheet" type="text/css" href="/css/site.css" >

    <script src="/asset/js/modernizrr.js"></script>


    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .content {
            flex: 1 0 auto;
        }

        .footer-section {
            flex: 0 0 auto;
        }

        .image_for_mob {
            display: block;
            max-height: 420px;
            width: auto;
            height: auto;
        }

        .image_for_web {
            display: block;
            max-height: 420px;
            width: auto;
            height: auto;
        }

        

        .text {
            display: block;
            font-size: 20px;
            margin-top: 1%;
            color: black;
            font-family: 'notosanshk-black';
        }
        
    </style>

</head>



<body>

    <div class="wrapper">


        <div class="content">

            <div class="clearfix">
                <!-- Start Top Bar -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-bar">
                                <div class="row">

                                    <div class="col-md-12">

                                        <ul class="contact-details">
                                            <li>
                                                <a href="#" class="fa" style="font-weight:800"> <img src="/asset/images/Logo_CTM.jpg" /></a>
                                            </li>
                                            <li>

                                                <a href="#" class="fa" style="font-weight:800">ООО "СИСТЕМЫ ТЕХНОЛОГИЧЕСКОГО МОДЕЛИРОВАНИЯ"</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-phone"></i> +7 917 43 18 638</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-envelope-o"></i>info@techmsys.ru</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Top Bar -->
                <!-- Start  Logo & Naviagtion  -->
                <div class="navbar navbar-default navbar-top">
                    <div class="container">

                        <div class="navbar-header">
                            <!-- Stat Toggle Nav Link For Mobiles -->

                            <button type="button" class="navbar-toggle col-xs-2" data-toggle="collapse" data-target=".navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                            <!-- End Toggle Nav Link For Mobiles -->
                        </div>
                        <div class="navbar-collapse collapse">

                            <!-- Start Navigation List -->
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="/Home/Index">ГЛАВНАЯ</a>
                                </li>
                                <li>
                                    <a href="/Home/About">О НАС</a>
                                </li>
                                <li>
                                    <a href="/Home/Service">РЕШЕНИЯ</a>
                                </li>

                                <li>
                                    <a href="/Home/Contact">КОНТАКТЫ</a>
                                </li>

                                <li>
                                    <a href="/Home/Cases">КЕЙСЫ</a>
                                </li>

                            </ul>
                            <!-- End Navigation List -->
                        </div>
                    </div>
                </div>
                <!-- End Header Logo & Naviagtion -->
            </div>





            <body>
                <!-- Start Header Section -->
                <div class="page-header">
                    <div class="overlay">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <h1>
                                        Программный комплекс для системы мобильных
                                        инспекций и контроля «СМИК+»
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Header Section -->

                <div class="container">
                    <section id="pricing-section" class="pricing-section">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-2">

                                    <img class="image_for_mob" src="/asset/images/mob_vers.jpg" />

                                </div>
                                <div class="col-md-2">
                                    <img class="image_for_mob" src="/asset/images/mob_vers1.jpg" />
                                </div>
                                <div class="col-md-2">
                                    <img class="image_for_web" src="/asset/images/web_vers.png" />
                                </div>
                            </div>
                        </div>


                        <div class="container">
                            <p class="text">
                                СМИК+ предназначен для автоматизации процессов визуального и измерительного контроля
                                при обходе технологических позиций с помощью современных информационно-технических решений,
                                формирование базы данных по эксплуатации оборудования, раннее определение его критического
                                состояния, а также контроль выполнения должностных обязанностей оперативным персоналом.
                                В СМИК+ применяются следующие технические решения: мобильное устройство в форм-факторе смартфона
                                совместно с виброметром ViPen (для сбора данных о вибрации и температуре), сеть интернет (LTE, Wi-Fi),
                                а также веб-интерфейс начальника смены и руководителей для назначения и контроля выполнения заданий.
                            </p>
                        </div>

                        <div class="container">
                            <p class="text">
                                Система позволяет проводить планирование и проведение ежедневных обходов с измерением температуры
                                и вибрации с автоматической передачей данных в систему c использованием сети интернет, вносить
                                ручные записи и фотофиксацию отклонений в работе оборудования, значений параметров.
                                Сведения обходов передаются через Wi-Fi в онлайн режиме на веб-интерфейс, расположенный
                                на рабочем месте начальника смены с отображением информации по температуре, вибрации и
                                другим видам контроля оборудования (уровень масла, уровень в подогревателях, посторонний
                                шум и т.д.). Информация, полученная в результате обходов, позволяет формировать данные по
                                группам, видам оборудования, маршрутам, технологическим позициям. Предусмотрена автоматическая
                                идентификация оборудования в Системе посредством считывания мобильным устройством NFC-меток.
                                Система использует любую доступную сеть интернет (Wi-Fi, 3G/LTE) для непрерывной передачи
                                накопленных данных с мобильных устройств.
                            </p>

                        </div>

                        <div class="container">
                            <p class="text">
                                СМИК+ может охватывать, к примеру, тепломеханическое, электротехническое и химическое
                                оборудование в рамках следующих технических систем: котлоагрегаты, турбоагрегаты,
                                циркуляционные системы, оборудование технического водоснабжения, блочные трансформаторы,
                                трансформаторы собственных нужд, генераторы, распределительные устройства собственных нужд,
                                газопроводы, системы химводоподготовки, ёмкости, насосы, теплообменники, подогреватели и
                                прочие виды промышленного и производственного оборудования.
                            </p>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <a style="font-size: 19px; text-decoration: underline;font-family: 'Noto Sans HK';" href="/asset//images/Руководство пользователя веб-приложения СМИК+.docx">Руководство пользователя веб-приложения</a>
                                </div>
                                <div class="col-md-12">
                                    <a style="font-size: 19px; text-decoration: underline; font-family: 'Noto Sans HK';" href="/asset//images/Руководство пользователя мобильного Android приложения СМИК+ v2.0.docx">Руководство пользователя мобильного Android приложения</a>
                                </div>
                                <div class="col-md-12">
                                    <a style="font-size: 19px; text-decoration: underline; font-family: 'Noto Sans HK';" href="/asset//images/Руководство системного администратора СМИК+.docx">Руководство системного администратора</a>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                
            </body>

        </div>

        <!-- Start Footer Bar -->
        <footer class="footer-section">
            <div class="container">
                <span>© techmsys.ru, 2021 <br /> Создание качественных, современных и инновационные решений для различных отраслей промышленности. <br /> ООО "Системы технологического моделирования" </span>
            </div>
        </footer>
        <!-- End Footer Bar -->
    </div>
</body>
</html>
