
<!DOCTYPE html>
<meta http-equiv="x-ua-compatible" content="ie=edge">
<script src="/asset/js/jquery-2.1.3.min.js"></script>
<script src="/asset/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/asset/bootstrap/js/bootstrap.min.js"></script>
<script src="/asset/js/owl.carousel.min.js"></script>
<script src="/asset/js/jquery.appear.js"></script>
<script src="/asset/js/jquery.fitvids.js"></script>
<script src="/asset/js/jquery.nicescroll.min.js"></script>
<script src="/asset/js/lightbox.min.js"></script>
<script src="/asset/js/count-to.js"></script>
<script src="/asset/js/styleswitcher.js"></script>
<script src="/asset/js/map.js"></script>
<script src="/asset/js/script.js"></script>
<html lang="en">
<head>

    <!-- Basic -->
    <title>Системы технологического моделирования</title>

    <!-- Description -->
    <meta name="description" content="Создание качественных, современных и инновационные решений для различных отраслей промышленности. ООО &#34;Системы технологического моделирования&#34;">

    <!-- Define Charset -->
    <meta charset="utf-8">

    <!-- Responsive Metatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="/asset/bootstrap/css/bootstrap.min.css" type="text/css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/asset/font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="/asset/css/owl.carousel.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/owl.theme.css" type="text/css">
    <link rel="stylesheet" href="/asset/css/owl.transitions.css" type="text/css">

    <!-- Css3 Transitions Styles  -->
    <link rel="stylesheet" type="text/css" href="/asset/css/animate.css">

    <!-- Lightbox CSS -->
    <link rel="stylesheet" type="text/css" href="/asset/css/lightbox.css">

    <!-- Sulfur CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="/asset/css/style.css">

    <!-- Responsive CSS Style -->
    <link rel="stylesheet" type="text/css" href="/asset/css/responsive.css">


    <script src="/asset/js/modernizrr.js"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html,
        body {
            height: 100%;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        .content {
            flex: 1 0 auto;
        }

        .footer-section {
            flex: 0 0 auto;
        }
    </style>

</head>



<body>

    <div class="wrapper">


        <div class="content">

            <div class="clearfix">
                <!-- Start Top Bar -->
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="top-bar">
                                <div class="row">

                                    <div class="col-md-12">

                                        <ul class="contact-details">
                                            <li>
                                                <a href="#" class="fa" style="font-weight:800"> <img src="/asset/images/Logo_CTM.jpg" /></a>
                                            </li>
                                            <li>

                                                <a href="#" class="fa" style="font-weight:800">ООО "СИСТЕМЫ ТЕХНОЛОГИЧЕСКОГО МОДЕЛИРОВАНИЯ"</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-phone"></i> +7 917 43 18 638</a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="fa fa-envelope-o"></i>info@techmsys.ru</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Top Bar -->
                <!-- Start  Logo & Naviagtion  -->
                <div class="navbar navbar-default navbar-top">
                    <div class="container">

                        <div class="navbar-header">
                            <!-- Stat Toggle Nav Link For Mobiles -->

                            <button type="button" class="navbar-toggle col-xs-2" data-toggle="collapse" data-target=".navbar-collapse">
                                <i class="fa fa-bars"></i>
                            </button>
                            <!-- End Toggle Nav Link For Mobiles -->
                        </div>
                        <div class="navbar-collapse collapse">

                            <!-- Start Navigation List -->
                            <ul class="nav navbar-nav navbar-left">
                                <li>
                                    <a href="/Home/Index">ГЛАВНАЯ</a>
                                </li>
                                <li>
                                    <a href="/Home/About">О НАС</a>
                                </li>
                                <li>
                                    <a href="/Home/Service">РЕШЕНИЯ</a>
                                </li>

                                <li>
                                    <a href="/Home/Contact">КОНТАКТЫ</a>
                                </li>

                                <li>
                                    <a href="/Home/Cases">КЕЙСЫ</a>
                                </li>

                            </ul>
                            <!-- End Navigation List -->
                        </div>
                    </div>
                </div>
                <!-- End Header Logo & Naviagtion -->
            </div>

            <style>
ul.gallery{
margin-left: 3vw;
margin-right:3vw;
text-align: center;
}

.zoom {
-webkit-transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
transition: all 0.35s ease-in-out;
cursor: -webkit-zoom-in;
cursor: -moz-zoom-in;
cursor: zoom-in;
}

.zoom:hover,
.zoom:active,
.zoom:focus {
/**adjust scale to desired size,
add browser prefixes**/
-ms-transform: scale(1.5);
-moz-transform: scale(1.5);
-webkit-transform: scale(1.5);
-o-transform: scale(1.5);
transform: scale(1.5);
position:relative;
z-index:100;
}

/**To keep upscaled images visible on mobile,
increase left & right margins a bit**/
media only screen and (max-width: 768px) {
ul.gallery {
margin-left: 15vw;
margin-right: 15vw;
}

/**TIP: Easy escape for touch screens,
give gallery's parent container a cursor: pointer.**/
.DivName {cursor: pointer}
}


</style>

<body>



    <!-- Start Header Section -->
    <div class="page-header">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>3D - модель производства (в том числе с использованием технологий VR и AR)</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Section -->
    <!-- Start About Us Section -->
    <section id="about-section" class="about-section">
        <div class="container">
            <div class="row">
                <h3 style="margin-bottom: 10px;font-weight:bold">Возможности Технологий AR и VR</h3>

                <p>
                    В настоящее время уровень развития технологий виртуальной (VR, Virtual reality) и дополненной (AR, Augmented reality) реальностей достиг такого уровня, что их влияние на современный бизнес трудно не заметить.
                    Данные технологии принципиально меняют подход к визуализации и использованию данных, повышая эффективность и конкурентоспособность бизнеса. Эти технологии могут быть использованы для обучения всех групп населения,
                    начиная от дошкольников и заканчивая высококвалифицированными специалистами.
                    Модели для удаленной работы и поддержки, сейчас востребованы как никогда.
                </p>


                <h3 style="margin-bottom: 10px;font-weight:bold">Что же такое AR и VR?</h3>

                <p>
                    <b>Виртуальная реальность (VR)</b> - это симуляции, созданные с помощью шлемов виртуальной реальности. Виртуальная реальность имитирует как воздействие, так и реакции на воздействие.
                    Объектам виртуальной реальности можно задать такие свойства, что их поведение будет максимально приближенно к поведению аналогичных объектов материальной реальности.
                </p>

                <p>
                    <b>Дополненная реальность (AR)</b> - это результат введения в зрительное поле человека любых данных с целью дополнения сведений об окружении и изменения восприятия окружающей среды.
                    Используя дополненную реальность (AR), мы смотрим на мир не напрямую, а через какой-то «фильтр», который встраивает в настоящий мир виртуальные объекты так, будто они действительно там находятся.
                    В отличие от виртуальной реальности, настоящий мир не уходит из поля зрения, а «дополняется».
                </p>





                <h3 style="margin-bottom: 10px;font-weight:bold">Примеры использования технологий AR И VR</h3>

                <p>
                    Технологии AR и VR можно успешно применять при построении решений для металлургии:
                    <ul class="list-inline gallery">
                        <li>
                            <img width="200" class="thumbnail zoom" src="/asset/images/vr/image_2020_09_29T11_10_09_537Z.png" />
                        </li>
                        <li>
                            <img width="200" class="thumbnail zoom" src="/asset/images/vr/image_2020_09_29T11_23_39_065Z.png" />
                        </li>
                        <li>
                            <img width="200" class="thumbnail zoom" src="/asset/images/vr/image_2020_09_29T11_39_38_951Z.png" />
                        </li>
                    </ul>

                    C помощью них можно моделировать сложную структуру энергетических станций:

                    <ul class="list-inline gallery">
                        <li>
                            <img width="200" class="thumbnail zoom" src="/asset/images/vr/image_2020_09_30T11_00_12_934Z.png" />

                        </li>
                        <li>
                            <img width="200" class="thumbnail zoom" src="/asset/images/vr/image_2020_10_01T11_56_54_581Z.png" />
                        </li>
                        <li>
                            <img width="200" class="thumbnail zoom" src="/asset/images/vr/image_2021_01_10T09_32_16_077Z.png" />
                        </li>
                        <li>
                            <img width="200" class="thumbnail zoom" src="/asset/images/vr/TransformerSubstation.png" />
                        </li>
                        <li>
                            <img width="200" class="thumbnail zoom" src="/asset/images/vr/TransformerSubstation3.png" />
                        </li>
                        <li>
                            <img width="200" class="thumbnail zoom" src="/asset/images/vr/TransformerSubstation2.png" />
                        </li>

                    </ul>

                    
                </p>

            </div>
        </div>
    </section>


    <!-- Start About-section 2 -->
    <!-- Start Copyright Section -->
    <div id="copyright-section" class="copyright-section">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="copyright">
                        Copyright © 2020. Design by <a href="http://www.themefisher.com">Themefisher</a>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="copyright-menu pull-right">
                        <ul>

                        </ul>
                    </div>
                </div>
            </div><!--/.row -->
        </div><!-- /.container -->
    </div>
    <!-- End Copyright Section -->
    <!-- Sulfur JS File -->
</body>

        </div>

        <!-- Start Footer Bar -->
        <footer class="footer-section">
            <div class="container">
                <span>© techmsys.ru, 2021 <br /> Создание качественных, современных и инновационные решений для различных отраслей промышленности. <br /> ООО "Системы технологического моделирования" </span>
            </div>
        </footer>
        <!-- End Footer Bar -->
    </div>
</body>
</html>
